.clients__list {
  @extend %list;
  display: flex;
  gap: 30px;
}
.clients__item {
  @include itemSize(1170px, 30px, 6);
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid $primary-icon-color;
  border-radius: 4px;
  transition: border $primary-animation;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.clients__icon {
  fill: $primary-icon-color;
  transition: fill $primary-animation;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}
