.features__list {
  @extend %list;

  display: flex;
  gap: 30px;
}
.features__item {
  @include itemSize(1170px, 30px, 4);
}

.features__content {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 25px 100px;
  border-radius: 4px;

  background-color: #f5f4fa;
}

.features__text {
  @include fonts(400, 14px, 1.71, 0.03em);
}
